name: Dev - Build and push image

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb #v3.3.0
      - name: Cache Docker layers
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 #v4.0.2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to Github Container Registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 #v3.1.0
        with:
          registry: ghcr.io
          username: mindriddler
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Convert branch name
        id: convert_branch_name
        run: echo "branch_name=$(sed 's|/|_|g' <<< '${{ github.head_ref || github.ref }}' )" >> "$GITHUB_OUTPUT"
      - name: Build and push
        uses: docker/build-push-action@f6010ea70151369b06f0194be1051fbbdff851b2
        with:
          context: .
          file: ./Docker/Dockerfile
          push: true
          tags: |
            ghcr.io/mindriddler/discord-bot-dev:${{ github.actor }}
            ghcr.io/mindriddler/discord-bot-dev:${{ github.event.number }}
            ghcr.io/mindriddler/discord-bot-dev:${{ steps.convert_branch_name.outputs.branch_name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
          provenance: false
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Delete all untagged images
        uses: actions/delete-package-versions@v5
        with:
          owner: ${{ github.repository_owner }}
          package-name: "discord-bot-dev"
          package-type: "container"
          token: ${{ secrets.GITHUB_TOKEN }}
          min-versions-to-keep: 0
          delete-only-untagged-versions: "true"
